.Navigation {
  display: flex;
  margin-bottom: 30px;
  padding: 5px;
  background-color: rgb(18, 125, 251);
}

.Navigation-link {
  margin: 5px;
  text-decoration: none;
  color: white;
}

.Navigation-jobs-companies, .Navigation-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.Navigation-home {
  font-size: 1.25rem;
}

.Navigation-userName {
  color:lightblue;
  font-style: italic;
}