.Navigation {
  display: flex;
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgb(24, 150, 251);
}

.Navigation-link {
  margin: 5px;
  text-decoration: none;
  color: white;
}

.Navigation-jobs-companies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  min-width: 160px;
}

.Navigation-home {
  font-size: 1.25rem;
}